body{
    background-color:#FFFDFA;
    font-family:'Monsterrat', sans-serif;
}
nav ul{
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
    color: #333333;
    box-shadow: #222222;

    
}

nav ul li a{
    color: #333333;

  
}
nav{
    background:#F5F5F5;
    height: 60px;
    width: 100%;
    align-items: center;
}
.uppe{
    color: #333333;
    text-transform: uppercase;
    border-style: none;
}
.logo1{
    color:#D40000;
    font-size: 50px;
    margin-left: 30px;
}
h1{
    font-weight: 500;
    font-size: 30px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-top: 15px;
}
h2{
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    color: #444444;
}
img{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    border-radius: 15px;
}
a{
    color:#444444;
}
li :hover{
    color: #222222;
}
h2 :hover{
    color: #222222;
}
p{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 30px;
}
iframe{
    margin-left: 25%;
    width: 50%;
}
.social{
    text-align: center;
    font-size: 25px;
    text-align: center;
}
li.win{
padding: 5px;
border-bottom: ridge;
border-color: #333333;
}
